<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest News</title>
    </head>
    <body>
        <h1>Latest News</h1>
            <ul>
                {% for item in news %}
                    <li>
                        <h2>{{ item.new_title }}</h2>
                        <img src="{{ item.new_image }}" alt="{{ item.new_title }}">
                        <p>{{ item.new_date }}</p>
                        <p>{{ item.new_deputy_title }}</p>
                        <a href="{{ item.new_link }}">Read more</a>
                    </li>
                {% endfor %}
            </ul>
    </body>
</html>