<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>

<table>
    <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item.title }}</td>
        <td><a href="{{ item.link }}">新闻跳转页</a></td>
        <td>{{ item.description }}</td>
        <td>{{ item.date }}</td>
    </tr>
    {% endfor %}

</table>
